# See here for reference:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner(s) for all code:
* @tristancowan @sophec
